<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:replace="common/fragments :: friendzone_head" />
<head>
    <title>FriendZone</title>

    <script type="text/javascript" th:src="@{/script/like.js}"></script>

</head>
<body onload="postManager()">
<div th:replace="common/fragments :: friendzone_navbar" />


<div th:object="${user}"></div>
<div class="container" style="margin-bottom: 25px;" th:object="${posts}">
    <div class="row" th:each="post, stat : ${posts}" style="margin-bottom: 30px">
        <div class="col-4">
            <h2 class="text-dark" th:text="${post.getTitle()}" style="margin-top: 20px;"></h2>
        </div>
        <div class="col-2">
            <a href="/dummy"><img th:src="${post.getUserImageURL()}" onerror="this.src='/img/profile_img.gif'" alt="Kein Profilbild vorhanden." style="height: 60px; width: 60px; border-radius: 50%; margin-top: 10px; object-fit: cover; float: right; margin-bottom: 2px;"></a>
        </div>
        <div class="col-5">
            <a href="/dummy"><h2 class="text-dark" th:text="${post.getUser().getUsername()}" style="margin-top: 20px;margin-bottom: 2px;"></h2></a>
        </div>
        <img th:src="${post.getImageURL()}" name="image" onerror="this.src='/img/no_post_found.png'" alt="Zu diesem Post wurde kein Bild hochgeladen." class="img-fluid rounded float-center" style="width: 100%">
        <div class="col ">
            <p th:text="${post.getCreationDateDifference()}" name="datum" style="margin-top: 2px;"></p>
        </div>
        <div class="col-6">
            <a class="btn btn-block btn-light btn-outline-dark" th:href="${post.getDetailURL()}" style="background-color: #e3f2fd; margin-top: 2px;">zur Detailansicht</a>
        </div>
        <div class="col">
            <a th:id="${post.getId()}" th:text="${post.likeOrUnlike(user.getLikeByPost(post))}" class="likeButton btn btn-light btn-outline-dark float-right" style="width: 126px;background-color: #e3f2fd; margin-top: 2px;"> <i style="font-size:18px;"class="fa fa-thumbs-o-up"></i></a>
            <h4 class="float-right" th:text="${post.getNumberOfLikes()}" style="margin-top: 6px; margin-right: 10px" ></h4>
        </div>
    </div>
</div>

</body>
</html>