<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:replace="common/fragments :: friendzone_head" />
<head>
    <title>FriendZone - Post</title>
    <!-- Das Eigene Script kann nicht im Standard-Header eingebunden werden da dies zu Problemen führt -->
    <script type="text/javascript" th:src="@{/script/controller.js}"></script>
</head>
<body onload="friendZoneController()">
<div th:replace="common/fragments :: friendzone_navbar" />

<div class="container" th:object="${user}">
    <div class="row" name="post" th:object="${post}">
        <h2 class="text-dark col-11" th:text="${post.getTitle()}" style="margin-top: 15px"></h2>
        <a th:href="${post.getDeleteURL()}" id="deletePostButton" class="col" style="color: white; margin-top: 2px;" th:text="${post.isMyOwnPost(user)}"><i style="font-size:18px;"class="fa fa-trash-o"></i> löschen </a>
        <img th:src="${post.getImageURL()}" name="image" onerror="this.src='/img/no_post_found.png'" alt="Zu diesem Post wurde kein Bild hochgeladen." class="img-fluid rounded float-center" style="width: 100%">
        <div class="col ">
            <p th:text="${post.getCreationDateDifference()}" th:name="datum" style="margin-top: 2px;"></p>
        </div>
        <div class="col-6">
        </div>
        <div class="col">
            <a th:id="${post.getId()}" th:text="${post.likeOrUnlike(user.getLikeByPost(post))}" class="likeButton btn btn-light btn-outline-dark float-right" style="width: 126px;background-color: #e3f2fd; margin-top: 2px;"> <i style="font-size:18px;"class="fa fa-thumbs-o-up"></i></a>
            <h4 class="float-right" th:text="${post.getNumberOfLikes()}" style="margin-top: 6px; margin-right: 10px" ></h4>
            <!--      <p th:text="${post.likeOrUnlike(user.getLikeByPost(post))}"></p>  -->
        </div>
    </div>
</div>
</body>
</html>