<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:replace="common/fragments :: friendzone_head" />
<head>
    <title>FriendZone - Detail Post</title>
</head>
<body>
<div th:replace="common/fragments :: friendzone_navbar" />

<div class="container">
    <div class="row" th:object="${post}">
        <h2 class="text-dark" th:text="${post.getTitle()}" style="margin-top: 15px"></h2>
        <img th:src="${post.getImageURL()}" name="image" onerror="this.src='/img/no_post_found.png'" alt="Zu diesem Post wurde kein Bild hochgeladen." class="img-fluid rounded float-center" style="width: 100%">
        <div class="col ">
            <p th:text="${post.getCreationDateDifference()}" th:name="datum" style="margin-top: 2px;"></p>
        </div>
        <div class="col-6">
        </div>
        <div class="col">
            <button class="btn btn-light btn-outline-dark float-right" style="width: 90px;background-color: #e3f2fd; margin-top: 2px;">Like <i style="font-size:18px;"class="fa fa-thumbs-o-up"></i></button>
            <button hidden class="btn btn-light btn-outline-dark float-right" style="background-color: #e3f2fd; margin-top: 2px;">Unlike <i style="font-size:18px;"class="fa fa-close"></i></button>
        </div>
    </div>
</div>
</body>
</html>