<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:replace="common/fragments :: friendzone_head" />
<head>
    <title>FriendZone - Post</title>
    <!-- Das Eigene Script kann nicht im Standard-Header eingebunden werden da dies zu Problemen führt -->
    <script type="text/javascript" th:src="@{/script/controller.js}"></script>
</head>
<body onload="friendZoneController()">
<div th:replace="common/fragments :: friendzone_navbar" />

<div class="container" th:object="${user}">
    <div class="row" name="post" th:object="${post}">
        <h2 class="text-dark text-center col-11" th:text="${post.getTitle()}" style="margin-top: 15px"></h2>
        <a th:href="${post.getDeleteURL()}" id="deletePostButton" class="col" style="color: white; margin-top: 2px;" th:text="${post.isMyOwnPost(user)}"><i style="font-size:18px;"class="fa fa-trash-o"></i> löschen </a>
        <div class="border text-center" style="height: 550px; width: 100%">
            <img th:src="${post.getImageURL()}" name="image" onerror="this.src='/img/no_post_found.png'" alt="Zu diesem Post wurde kein Bild hochgeladen." class="img-fluid border border-dark rounded float-center" style="height: 100%">
        </div>
        <div class="col ">
            <p th:text="${post.getCreationDateDifference()}" th:name="datum" style="margin-top: 2px;"></p>
        </div>
        <div class="col-6">
        </div>
        <div class="col">
            <a th:id="${post.getId()}" th:text="${post.likeOrUnlike(user.getLikeByPost(post))}" class="likeButton btn btn-light btn-outline-dark float-right" style="width: 126px;background-color: #e3f2fd; margin-top: 2px;"> <i style="font-size:18px;"class="fa fa-thumbs-o-up"></i></a>
            <h4 class="float-right" th:text="${post.getNumberOfLikes()}" style="margin-top: 6px; margin-right: 10px" ></h4>
            <!--      <p th:text="${post.likeOrUnlike(user.getLikeByPost(post))}"></p>  -->
        </div>
    </div>
</div>
<div class="container" th:object="${comments}">
    <form class="row">
        <div class="col-10">
            <input type="text" name="commentText" placeholder="Schreibe einen Kommentar" class="border-dark rounded m-2" style="width: 100%; padding-left: 15px; height: 40px"/>     
            <input type="text" name="id" th:value="${post.getId()}" style="visibility: hidden; width: 0px; height: 0px" />
        </div>
        <div class="col">
            <button type="submit" class="btn btn-block btn-light btn-outline-dark float-right m-2" style="background-color: #e3f2fd;"><i style="font-size:22px; margin-top: 1px"class="fa fa-comment-o"></i></button>
        </div>
    </form>
    <div class="row border rounded m-2" th:each="comment, stat : ${comments}">
        <div style="width: 80px;">
            <a th:href="${comment.getUser().getUserURL(user)}"><img th:src="${comment.getUser().getImageURL()}" onerror="this.src='/img/profile_img.gif'" alt="Kein Profilbild vorhanden." class="m-1" style="height: 85px; width: 85px; border-radius: 50%; object-fit: cover;"></a>
        </div>
        <div class="col-10">
            <a th:href="${comment.getUser().getUserURL(user)}" class="btn-dark"><h5 th:inline="text" style="margin-top: 5px" class="text-dark" th:text="${comment.getUser().getUsername()}"></h5></a>
            <p th:inline="text" th:text="${comment.getText()}" style="margin-left: 10px"></p>
        </div>
        <div class="col text-center">
            <p th:inline="text" th:text="${comment.getCreationDateDifference()}" style="font-size: 11px"></p>
            <a class="btn btn-outline-dark" style="background-color: #e3f2fd;"><i style="font-size:18px;"class="fa fa-trash-o"></i></a>
        </div>
    </div>      
</div>     

</body>
</html>