<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:replace="common/fragments :: friendzone_head" />
<head>
    <title>FriendZone - Suchen</title>
    <!-- Das Eigene Script kann nicht im Standard-Header eingebunden werden da dies zu Problemen führt -->
    <script type="text/javascript" th:src="@{/script/controller.js}"></script>
</head>
<body onload="friendZoneController()">
<div th:replace="common/fragments :: friendzone_navbar" />

<p style="visibility: hidden"><span id="loadMessage" th:text="${loadMessage}"/></p>

<div class="container" style="margin-bottom: 25px;" th:object="${results}">    
    <div class="text-center" th:object="${user}">
        <form class="m-4" th:action="@{/searchPartnershop}" method="post">  
            <div class="row m-1">
                <div class="col-1">
                </div>
                <div class="col-8">
                    <select id="partnershop" name="partnershop" class="btn btn-lg btn-block btn-light border-dark" style="background-color: #e3f2fd;">
                        <option id="blank" value="blank"></option>
                        <option id="bikerator" value="bikerator">Bikerator</option>
                        <option id="comicshop" value="comicshop">ComicShop</option>
                        <option id="dummy" value="dummy">Dummy-Shop</option>
                    </select>
                </div>
                <div class="col-2">
                    <a id="shoplink" href="#" class="btn btn-lg btn-block btn-light btn-outline-dark" style="background-color: #e3f2fd;">zum Shop <i style="font-size:18px;"class="fa fa-shopping-cart"></i></a>
                </div>
            </div>
            <div class="row m-1">
                <div class="col-1">
                </div>
                <div class="col-8">
                    <h2><input type="text" name="searchQuery" placeholder="Username eingeben" class="border-dark rounded" style="width: 100%; margin-top: 2px; padding-left: 15px"/></h2>
                </div>
                <div class="col-2">
                    <button type="submit" class="btn btn-lg btn-light btn-block btn-outline-dark" style="background-color: #e3f2fd;">suchen <i style="font-size:18px;"class="fa fa-search"></i></button>
                </div>
            </div>
        </form>
    </div>    
    <div class="text-center">
        <h1><span th:text="${message}"/></h1>
    </div>
    <div class="row container border rounded m-2" th:each="result, stat : ${results}">
        <div class="col ">
            <a th:href="${result.getUserURL(user)}"><img th:src="${result.getImageURL()}" onerror="this.src='/img/profile_img.gif'" alt="Kein Profilbild vorhanden." class="m-2" style="height: 115px; width: 115px; border-radius: 50%; object-fit: cover;"></a>
        </div>
        <div class="col-7">
            <p style="margin-top: 25px; margin-bottom: 0px" th:text="${'Mitglied seit ' + result.getCreationDateAsStringShort()}"></p>
            <a th:href="${result.getUserURL(user)}" class="btn-light"><h1 th:inline="text" class="text-dark" th:text="${result.getUsername()}"></h1></a>
        </div>
        <div class="col-3">                                   
            <a th:id="${result.getId()}" class="friendsButton btn btn-lg btn-light btn-outline-dark" style="background-color: #e3f2fd; margin-top: 40px; width: 220px" th:text="${user.friendOrNotFriend(result)}"></a>
        </div>
    </div>  
</div>
    
    
</body>
</html>
