<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:replace="common/fragments :: friendzone_head" />
<head>
    <title>FriendZone</title>

    <meta charset="utf-8"><meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"><!-- Bootstrap CSS --><link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"><!-- Bootstrap JS --><script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script><script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script><script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>
<div th:replace="common/fragments :: friendzone_navbar" />
<div th:fragment="friendzone_navbar"><nav class="sticky-top navbar-toggler navbar-expand-sm navbar-light" style="background-color: #e3f2fd;"><div class="container navbar-collapse" id="collapsibleNavbar"><ul class="nav navbar-nav mr-auto align-items-center"><li class="nav-item p-2"><a class="nav-link" href="#">Meine Pinnwand</a></li><li class="nav-item p-2"><a class="nav-link" href="#">Freunde</a></li><li class="nav-item p-2"><a class="nav-link" href="#">Suchen...</a></li><li class="nav-item p-2"><a class="nav-link" href="#">Mein Profil</a></li><li class="nav-item p-2"><a class="nav-link" href="#">Neueste Posts</a></li></ul><form th:action="@{/logout}" method="post" style="text-align:right"><input type="submit" value="Sign Out" class="btn btn-light btn-outline-dark my-sm-0"/></form></div></nav></div>
    
    


    
    
<div class="container" style="margin-bottom: 25px;" th:object="${results}">    
    <div class="text-center" th:object="${user}">
        <form class="row m-4" th:action="@{/search}" method="post">  
            <div class="col-1">
            </div>
            <div class="col-8">
                <h2><input type="text" name="searchOption" placeholder="Username eingeben" class="border-dark rounded" style="width: 100%; padding-left: 15px"/></h2>
           <!--     <h5>Nach anderen Usern in einem Partnershop suchen? Dann klick <a href="gogo" >hier</a>!</h5>  -->
            </div>
            <div class="col-2">
                <button type="submit" th:id="${result.getId()}" class="btn btn-lg btn-light btn-outline-dark" style="background-color: #e3f2fd;">suchen <i style="font-size:18px;"class="fa fa-search"></i></button>
            </div>
        </form>
    </div>
    <div class="row container border rounded m-2" th:each="result, stat : ${results}">
        <div class="col ">
            <a th:href="${result.getUserURL()}"><img src="../../../../../../../../../../../Desktop/img/small/1453936214880.jpg" th:src="${result.getImageURL()}" onerror="this.src='/img/profile_img.gif'" alt="Kein Profilbild vorhanden." class="m-2" style="height: 115px; width: 115px; border-radius: 50%; object-fit: cover;"></a>
        </div>
        <div class="col-7">
            <p style="margin-top: 25px; margin-bottom: 0px" th:text="${result.getCreationDateAsStringShort()}">Mitglied seit 01.04.2019</p>
            <a th:href="${result.getUserURL()}" href="gogo" class="btn-light"><h1 th:inline="text" class="text-dark" th:text="${result.getUsername()}">Alex</h1></a>
        </div>
        <div class="col-3">                                   
            <a th:id="${result.getId()}" class="friendsButton btn btn-lg btn-light btn-outline-dark" style="background-color: #e3f2fd; margin-top: 40px" th:text="${user.friendOrNotFriend(result)}"><b>+</b> Freund hinzufügen</a>
        </div>
    </div>  
</div>
    
    
    

</body>
</html>