<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:replace="common/fragments :: friendzone_head" />
<head>
    <title>FriendZone</title>
</head>
<body>
<div th:replace="common/fragments :: friendzone_navbar" />

<div class="container text-center">
    <img src="" onerror="this.src='/img/profile_img.gif'" alt="Kein Profilbild vorhanden." class="m-15" style="height: 100px; width: 100px; border-radius: 50%; margin-top: 20px; margin-bottom: 5px;">
    <h1 th:inline="text" class="text-dark">Hallo [[${#httpServletRequest.remoteUser}]]!</h1>
    <a href="/newPost"  class="btn btn-lg btn btn-outline-dark" style="background-color: #e3f2fd">neuen Pinnwandeintrag erstellen</a>
</div>

<div class="container" id="posts">
    <form method="post" th:object="${posts}">
        <ul th:each="post, stat : ${posts}"  class="list-unstyled">
            <li class="media m-4" style="margin-top: 10px">
                <ul class="list-unstyled">
                    <li><h2 class="text-dark" th:text="${post.getTitle()}"></h2> <p class="float-right" style="float: right;" th:text="${post.getCreationDateAsString()}"></p></li>
                    <li><img th:src="${post.getImageURL()}" name="image" onerror="this.src='/img/no_post_found.png'" alt="Zu diesem Post wurde kein Bild hochgeladen." class="img-fluid rounded float-center"></li>
                    <li><input type="button" value="zur Detailansicht" class="btn btn-block btn-light btn-outline-dark" style="background-color: #e3f2fd; margin-top: 5px;"/></li>
                </ul>
            </li>
        </ul>
    </form>
</div>
</body>
</html>