<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:replace="common/fragments :: friendzone_head" />
<head>
    <title>FriendZone - Home</title>
    <!-- Das Eigene Script kann nicht im Standard-Header eingebunden werden da dies zu Problemen führt -->
    <script type="text/javascript" th:src="@{/script/controller.js}"></script>

</head>
<body onload="friendZoneController()">
<div th:replace="common/fragments :: friendzone_navbar" />

<div class="container text-center" th:object="${user}">
    <img th:src="${user.getImageURL()}" onerror="this.src='/img/profile_img.gif'" alt="Kein Profilbild vorhanden." class="m-15" style="height: 100px; width: 100px; border-radius: 50%; object-fit: cover; margin-top: 20px; margin-bottom: 5px;">
    <h1 th:inline="text" class="text-dark" th:text="${'Hallo ' + user.getUsername()}"></h1>
    <a href="/newPost"  class="btn btn-lg btn btn-outline-dark" style="background-color: #e3f2fd">neuen Pinnwandeintrag erstellen</a>
</div>

<div class="container" style="margin-bottom: 25px;" th:object="${posts}">    
    <div class="row" th:each="post, stat : ${posts}">
        <h2 class="text-dark" th:text="${post.getTitle()}" style="margin-top: 15px"></h2>
        <img th:src="${post.getImageURL()}" name="image" onerror="this.src='/img/no_post_found.png'" alt="Zu diesem Post wurde kein Bild hochgeladen." class="img-fluid rounded float-center" style="width: 100%">
        <div class="col ">
            <p th:text="${post.getCreationDateDifference()}" th:name="datum" style="margin-top: 2px;"></p>
        </div>
        <div class="col-6">
            <a class="btn btn-block btn-light btn-outline-dark" th:href="${post.getDetailURL()}" style="background-color: #e3f2fd; margin-top: 2px;">zur Detailansicht</a>
        </div>
        <div class="col">
            <a th:id="${post.getId()}" th:text="${post.likeOrUnlike(user.getLikeByPost(post))}" class="likeButton btn btn-light btn-outline-dark float-right" style="width: 126px;background-color: #e3f2fd; margin-top: 2px;"> <i style="font-size:18px;"class="fa fa-thumbs-o-up"></i></a>
            <h4 class="float-right" th:text="${post.getNumberOfLikes()}" style="margin-top: 6px; margin-right: 10px" ></h4>
      <!--      <p th:text="${post.likeOrUnlike(user.getLikeByPost(post))}"></p>  -->
        </div>
    </div>  
</div>

</body>
</html>